

trigger:
  branches:
    include:
      - main


pool:
  vmImage: 'windows-latest'


stages:
  - stage: 'CI'
    jobs:
    - job: 'Build'
      steps:
      - task: DotNetCoreCLI@2
        displayName: 'Restore nuget packages'
        inputs:
          command: 'restore'
          projects: '**/*.csproj'


      - task: DotNetCoreCLI@2
        displayName: 'Build CartService'
        inputs:
          command: 'build'
          projects: '**/*.csproj'
          arguments: '--configuration Release'


      - task: DotNetCoreCLI@2
        displayName: 'Run unit Tests'
        inputs:
          command: 'test'
          projects: '**/*Tests/*.csproj'


      - task: DotNetCoreCLI@2
        displayName: 'Publish CartService'
        inputs:
          command: 'publish'
          publishWebProjects: false
          projects: '**/*.csproj'
          arguments: '--configuration Release --output $(Build.ArtifactStagingDirectory)'


      - task: PublishBuildArtifacts@1
        displayName: 'Publish build Artifacts'
        inputs:
          PathtoPublish: '$(Build.ArtifactStagingDirectory)'
          ArtifactName: 'CartService'
          publishLocation: 'Container'
  
  - stage: 'CD'
    dependsOn: 'CI'
    jobs:
      - job: 'Deploy'
        displayName: 'Deploy to Dev'
        steps:
        - task: DownloadPipelineArtifact@2
          displayName: 'Download Artifacts from CI'
          inputs:
           artifact: 'CartService'
           path: '$(Pipeline.Workspace)/CartService'

        - task: AzureWebApp@1
          inputs:
            azureSubscription: 'ADO-Connection'
            appType: 'webApp'
            appName: 'CartService1'
            package: '$(Pipeline.Workspace)/CartService' 
            deploymentMethod: 'auto'

            
        

